@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);
@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

body {
  font-family: var(--font-sans);
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  width: 320px;
  height: auto;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}